#english {
    font-size: 60%;
    text-transform: none;
}

.subheading {
    text-transform: none;
}

.social_icons .social_icon:hover {
    background-color: #b5c4b1;

}

.social_icons .social_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
  .social_icons .social_icon:lastchild {
    margin-right: 0;
  }
  .social_icons .social_icon:hover {
    background-color: #b5c4b1;
  }

.mail-color:hover {
  background-color: #b5c4b1;
}

.card-title {
  text-transform: none;
}

/* 修改大頭貼尺寸 */
@media (min-width: 992px) {
    #sideNav .navbar-brand .img-profile {
        max-width: 13rem;  /* 原本是 10rem，數字改大圖片就會變大 */
        max-height: 13rem; /* 請保持長寬數字一致，才會是正圓形 */
        border-width: 0.5rem; /* 這是外圈白框的粗細，可依喜好調整 */
    }
}